body {
	font-family:Arial,sans-serif,Garmond,Times;
	background-color:#666666;
}
header{
	width:80%
	background-color:black;
	color:red;
	margin-right:auto;
	margin-left:auto;
	padding:10px;
}
h1 {
	font-size:1em;
	margin:0;
	padding:0;
	padding-top:10px;
}
h2 {
	font-size:1.6px
	color:brown;
}
nav  {
    width:30;
    float:left;
}
footer {
	background-color:blue;
	color:yellow;
	margin-right: auto;
	margin-left: auto;
	height:10px;
	padding:10px;

}